<form action= "/articles" method="POST">

<label>Title<input type = "text" name = "article[title]" id = "title"></label>
<label>Content<input type = "text" name = "article[content]" id = "content"></label>
<input type = "submit" name = "submit" id = "submit">

</form>